h1 404 NOT FOUND
img(
    src="https://assets.mongodb-cdn.com/mms/static/images/sadface.gif", alt=""
    style="display:block"
    )
button(
    onclick="history.back()"
    class="btn btn-danger"
) Trở lại